html,
body {
    overflow-x: hidden;
    font-family: poppins;
    background-color: #141414;
}

a:hover {
    text-decoration: none;
}

.title {
    font-size: 34px;
    font-weight: 400;
    font-family: porter;
    color: #a84141 !important;
}

.title:hover {
    text-decoration: none;
}

.orange {
    background-color: #a84141;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 3.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.bg1 {
    background-image: url(../images/background/bromo2.jpg);
    min-height: 100vh;
    animation-name: animasiBg;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

.box-shadow {
    box-shadow: 0 5px 20px rgba(125, 125, 125, 0.2);
}

@keyframes animasiBg {
    0% {
        background-size: 120%;
    }
    50% {
        background-size: 100%;
    }
    100% {
        background-size: 120%;
    }
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: animasiBg;
}

.parallax-caption {
    margin-top: 20%;
    padding-bottom: 8px;
    z-index: 10;
}

.parallax-caption p {
    padding: 5px;
    font-size: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-family: porter;
    color: white;
    margin: 0;
}

.parallax-caption h5 {
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    z-index: 99;
}

.menu {
    color: white !important;
}

.scrollicon {
    color: white;
    margin-top: 20px !important;
    font-size: 60px;
    position: relative;
    animation: mymove 2s infinite;
}

.scrollicon:hover {
    color: white !important
}

@keyframes mymove {
    0% {
        top: 0px;
    }
    25% {
        top: 20px;
    }
    50% {
        top: 10px;
    }
    75% {
        top: 20px
    }
    100% {
        top: 0px;
    }
}

.wrapper {
    min-height: 400px;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.wrappermain {
    min-height: 400px;
    width: 100%;
    margin-top: 120px;
    padding-top: 2%;
    padding-bottom: 3%;
}

.wrappersejarah {
    min-height: 400px;
    width: 100%;
    padding-bottom: 3%;
}

.mymove {
    animation: mymove 2s infinite;
    position: relative;
    width: 600px;
    margin-top: -10px !important;
}
/* bg image for content tanda tanda  */
.tandabg1{
    background-image: url(../images/background/mountain.jpg);
    background-size: cover;
    height: 50vh;
}
.tandabg2{
    background-image: url(../images/background/mountain.jpg);
    background-size: cover;
    height: 50vh;
}
.tandabg3{
    background-image: url(../images/background/mountain.jpg);
    background-size: cover;
    height: 50vh;
}
.tandabg4{
    background-image: url(../images/background/mountain.jpg);
    background-size: cover;
    height: 50vh;
}
@media (max-width: 992px) {
    .caption-tanda p {
        font-size: 12px;
    }
    .h1-tanda {
        font-size: 24px;
        margin-top: 20px !important;
    }
    .slicer{
       display: none;
    }
    .img-tanda{
        position: relative !important;
    }
}

@media (max-width: 768px) {
    .caption-tanda p {
        font-size: 12px;
    }
    .h1-tanda {
        font-size: 20px;
        margin-top: 20px !important;
    }
    .slicer{
        display: none;
    }
    .img-tanda{
        position: relative !important;
    }
}

@media (max-width: 600px) {
    .navbar {
        padding-right: 10px;
        padding-left: 10px;
    }
    .nav-bar {
        padding-top: 52px;
        padding-left: 29px;
        width: 100%;
        position: fixed;
        background: white;
        height: 100vh;
    }
    .caption-tanda p {
        font-size: 10px;
    }
    .h1-tanda {
        font-size: 18px;
        margin-top: 20px !important;
    }
    .slicer{
      display: none;
    }
    .img-tanda{
        position: relative !important;
    }
}
