.bg-dampak{
    color: white;
    padding-top: 1%;
    padding-left:5%;
    padding-right:5%;
}
.dampakcontent p{
margin-top: 20px;
margin-left: 20px;  
text-align: justify;
}
.dampakimg{
    width: 600px
}